{% extends 'author/main/base.html' %}


{% block title %}
    {% if request.path == '/admin/' %}
       Articles
    {% elif '/article/draft/' in request.path %}
       Drafts
    {% elif '/article/all/' in request.path %}
       All Articles
    {% elif '/article/featured/' in request.path %}
       Featured Articles
    {% endif %}
{% endblock %}


{% block content %}

    {% if request.path == '/admin/' %}
        <div class="row">
            <div class="col-lg-10">
                <h3>Articles By You ({{ paginator.count }})</h3>
            </div>
            {% if request.user.is_superuser or perms.blog.add_article %}
                <div class="col-lg-2">
                    <a class="btn btn-primary btn-block" href="{% url 'author:article-create' %}">New Article</a>
                </div>
            {% endif %}
        </div>
    {% elif '/article/draft/' in request.path %}
        <h3>Drafts ({{ paginator.count }})</h3>
    {% elif '/article/all/' in request.path %}
        <h3>All Articles ({{ paginator.count }})</h3>
    {% elif '/article/featured/' in request.path %}
        <h3>Featured Articles ({{ paginator.count }})</h3>
    {% endif %}

    <table class="table table-sm mt-4">
        <thead>
            <tr>
                <th>Title</th>
                <th>Categories</th>
                <th>Posted at</th>
                {% if '/article/all/' in request.path or '/article/featured/' in request.path %}
                    <th>Posted By</th>
                {% endif %}
                {% if request.user.is_superuser %}
                    <th>Featured</th>
                    <th>Views</th>
                {% endif %}
                {% if request.user.is_superuser or perms.blog.change_article or perms.blog.delete_article %}
                    <th colspan="2">Actions</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for article in articles %}

                <tr>
                    <td><a href="{% url 'author:article-detail' article.id %}">
                        {{ article.title | truncatechars:50 }}
                        </a>
                    </td>
                    <td>
                        {% for category in article.category.all %}
                            {{ category }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ article.date_posted | date:"M d, Y" }}</td>

                    {% if '/article/all/' in request.path or '/article/featured/' in request.path %}
                        <td>{{ article.author.first_name }} {{ article.author.last_name }}</td>
                    {% endif %}

                    <td>
                        {% if article.is_featured %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-times"></i>
                        {% endif %}
                    </td>
                    <td>{{ article.views }}</td>

                    {% if request.user.is_superuser or perms.blog.change_article  %}
                        <td>
                            <a href="{% url 'author:article-update' article.id %}">Edit</a><br>
                        </td>
                    {% endif %}
                    {% if request.user.is_superuser or perms.blog.delete_article  %}
                        <td>
                            <a href="{% url 'author:article-delete' article.id %}">Delete</a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
        </tbody>
    </table>

    {% block paginate %}
        {% include 'author/partials/paginate.html' %}
    {% endblock %}

{% endblock %}