{% extends 'author/main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} New Article {% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <div class="jumbotron">
                <div class="container">

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form.media }} {# for ckeditor #}
                            {{ form | crispy }}
                        </fieldset>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-primary btn-block shadow" name="draft" type="submit">Move to Draft</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-success btn-block shadow" name="publish" type="submit">Publish/Update Article</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}