<nav class="navbar navbar-expand-lg navbar-light bg-info shadow">
    <div class="container">

        <a class="navbar-brand" href="{% url 'blog:homepage' %}">
            {% if config.blog_logo %}
                <img src="{{ config.blog_logo.url }}" alt="">
            {% else %}
                <img src="/media/defaults/logo_default.png" alt="">
            {% endif %}
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link
                        {% if request.path == '/' %}
                            active
                        {% endif %}"
                        href="{% url 'blog:homepage' %}">
                        Home<span class="sr-only"></span>
                    </a>
                </li>

                {% for menu in menus %}

                        {% if menu.sub_count > 0 %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if menu.name in request.path %} active {% endif %}"
                                    href="
                                        {% if menu.type == "Category" %}
                                            {% url 'blog:articles-by-category' menu.category_link.slug %}
                                        {% elif menu.type == "Article" %}
                                            {% url 'blog:article-detail' slug=menu.article_link.slug %}
                                        {% elif menu.type == "Author" %}
                                            {% url 'blog:articles-by-author' menu.author_link %}
                                        {% elif menu.type == "Separator" %}
                                            #
                                        {% elif menu.type == "URL" %}
                                             {{ menu.external_url }}
                                        {% endif %}">
                                    {{ menu.name }}
                                </a>
                                <div class="dropdown-menu">

                                    {% for sub_menu in sub_menus %}
                                        {% if sub_menu.parent_menu == menu %}

                                            <a class="dropdown-item"
                                                href="
                                                   {% if sub_menu.type == "Category" %}
                                                       {% url 'blog:articles-by-category' sub_menu.category_link.slug %}
                                                   {% elif sub_menu.type == "Article" %}
                                                        {% url 'blog:article-detail' slug=sub_menu.article_link.slug %}
                                                   {% elif sub_menu.type == "Author" %}
                                                        {% url 'blog:articles-by-author' sub_menu.author_link %}
                                                   {% elif sub_menu.type == "Separator" %}
                                                       #
                                                   {% elif sub_menu.type == "URL" %}
                                                        {{ sub_menu.external_url }}
                                                   {% endif %}">
                                                {{ sub_menu.name }}
                                            </a>

                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </li>

                        {% else %}

                            <li class="nav-item">
                                <a class="nav-link
                                    {% if '/category/cyber-security/' in request.path %}
                                        active
                                    {% endif %}"
                                    href="
                                        {% if menu.type == "Category" %}
                                            {% url 'blog:articles-by-category' menu.category_link.slug %}
                                        {% elif menu.type == "Article" %}
                                            {% url 'blog:article-detail' slug=menu.article_link.slug %}
                                        {% elif menu.type == "Author" %}
                                            {% url 'blog:articles-by-author' menu.author_link %}
                                        {% elif menu.type == "Separator" %}
                                            #
                                        {% elif menu.type == "URL" %}
                                             {{ menu.external_url }}
                                        {% endif %}
                                    ">
                                    {{ menu.name }}<span class="sr-only"></span>
                                </a>
                            </li>

                        {% endif %}

                {% endfor %}

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">
                        More
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item
                            {% if '/about/' in request.path %}
                                active
                            {% endif %}"
                           href="{% url 'blog:about-us' %}">About Us
                        </a>
                        <a class="dropdown-item
                            {% if '/contact/' in request.path %}
                                active
                            {% endif %}"
                           href="{% url 'blog:contact-us' %}">Contact Us
                        </a>
                        <a class="dropdown-item
                            {% if '/privacy-policy/' in request.path %}
                                active
                            {% endif %}"
                           href="{% url 'blog:privacy-policy' %}">Privacy Policy
                        </a>
                        <a class="dropdown-item
                            {% if '/terms/' in request.path %}
                                active
                            {% endif %}"
                           href="{% url 'blog:terms' %}">Terms of Service
                        </a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'blog:homepage' %}">
                <input class="form-control mr-sm-2" name="s" type="search" placeholder="Search" aria-label="Search" required>
                <button class="btn btn-dark my-2 my-sm-0" type="submit"><i class="fa fa-search"></i> Search</button>
            </form>

        </div>

    </div>
</nav>