<div class="jumbotron shadow">

    {% if config.twitter_link or config.instagram_link or config.facebook_link %}
        <div class="sidebar-section">
            <div class="section-title">
                FOLLOW US
                <hr>
            </div>

            <div class="sidebar-content">
                <div class="row">
                    <div class="col-12">
                        <div class="social-networks">
                            {% if config.twitter_link %}
                                <a href="{{ config.twitter_link }}" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if config.instagram_link %}
                                <a href="{{ config.instagram_link }}" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                            {% if config.facebook_link %}
                                <a href="{{ config.facebook_link }}" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if categories %}
    <div class="sidebar-section">
        <div class="section-title">
            CATEGORIES
            <hr>
        </div>

        <div class="sidebar-content">
            <ul>
                {% for category in categories %}
                    <li class="custom-link sidebar-link">
                        <a href="{% url 'blog:articles-by-category' category.slug %}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% if featured_articles %}
    <div class="sidebar-section">
        <div class="section-title">
            FEATURED ARTICLES
            <hr>
        </div>

        <div class="sidebar-content">
            <ul style="list-style-type:circle">
                {% for article in featured_articles %}
                    <li class="custom-link sidebar-link">
                        <a href="{% url 'blog:article-detail' article.slug %}">
                            {{ article.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% if tags %}
    <div class="sidebar-section mb-4">
        <div class="section-title">
            MOST FREQUENT TAGS
            <hr>
        </div>

        <div class="sidebar-content">
            {% for tag in tags %}
                <span class="badge my-tags shadow"><a href="{% url 'blog:articles-by-tag' tag.slug %}">{{ tag | title }}</a></span>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
