{% extends 'blog/main/about_base.html' %}
{% load crispy_forms_tags %}

{% if config.display_about_us %}

    {% block title %} About Us | {{ config.blog_name }} {% endblock %}


    {% block content %}

        <div class="section-title mb-3">
            ABOUT US
            <hr>
        </div>

        <div class="jumbotron shadow">

            <div class="body about-body">
                {{ config.about_us | safe }}
            </div>

        </div>

    {% endblock %}

{% else %}


{% endif %}