{% extends 'blog/main/about_base.html' %}
{% load crispy_forms_tags %}


{% block title %} Privacy Policy | {{ config.blog_name }} {% endblock %}


{% block content %}

    <div class="jumbotron shadow">

        <h3>Privacy Policy</h3>

        <div class="body" >

            <p>The privacy policy describes the kinds of information we may gather during your visit to CMS Blog Site, how we use your information, when we might disclose your personally identifiable information, and how you can manage your information.</p>

            <p>This privacy policy is subject to change without notice. Your continued use of our Sites following the posting of changes to these terms will mean you accept those changes. If you have any questions feel free to <a href="{% url 'blog:contact-us' %}">contact us.</a></p>

            <h3>What Information Is Collected?</h3>

            <p><b>Personally Identifiable Information</b></p>

            <p>We may collect personal identification information from Users in a variety of ways. Users may be asked for name, email address, mailing address. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us.</p>

            <p><b>Non-Personally Identifiable Information</b></p>

            <p>When you interact with the Sites, we may collect certain information that does not identify you individually such as demographic data; information about your computer, mobile device, or other device that you use to access the Sites, including IP address, general location information, unique device identifiers, browser type, browser language, and other transactional information.</p>

            <p>We may also collect information about your use of the Sites, including your search terms and search results, and additional “traffic data” such as time of access, date of access, software crash reports, session identification number, access times, and referring website addresses. Our servers may automatically keep an activity log of your use of our Sites. In addition to non-identifiable individual information, we may collect aggregate data regarding the use of the Sites.</p>

            <p><b>Browser cookies</b></p>

            <p>Like many websites, we use cookies, web beacons and similar technologies to record your preferences, track the use of our Websites and your exposure to our online advertisements. We may also use these technologies to monitor traffic, improve the Sites and make it easier and/or relevant for your use.</p>

            <p>Most web browsers automatically accept cookies, but, if you prefer, you can usually modify your browser setting to disable or reject cookies.</p>

            <p>We also use Google Analytics, a web analytics service provided by Google, Inc. on our Websites. Google Analytics uses cookies or other tracking technologies to help us analyze how users interact with and use the Websites, compile reports on the Websites’ activity, and provide other services related to Websites activity and usage.</p>

            <p>The technologies used by Google may collect information such as your IP address, time of visit, whether you are a return visitor, and any referring website. The Websites do not use Google Analytics to gather information that personally identifies you.</p>

            <p>The information generated by Google Analytics will be transmitted to and stored by Google and will be subject to Google’s privacy policies.</p>

            <h3>Who Can See Your Information?</h3>

            <p>We will not disclose your personally identifiable information collected from the Sites to any organizations not part of Technosploit or its subsidiaries or related entities, except as described in this privacy policy.</p>

            <p><b>Third party websites</b></p>

            <p>Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website’s own terms and policies.</p>

            <p><b>Advertising</b></p>

            <p>Ads appearing on our site may be delivered to Users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile non personal identification information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This privacy policy does not cover the use of cookies by any advertisers.</p>

            <h3>How we use collected information?</h3>

            <p><b>We use the information we learn from you to help us personalize and continually improve your experience on the Sites, including to:</b></p>

            <ul style="list-style-type: disc;">
                <li>Provide you with the content, products and services you request.</li>
                <li>Communicate with you.</li>
                <li>Personalize content and experiences on our Sites.</li>
                <li>Provide you with advertising including advertising based on your activity on our Sites or activity on third party sites and applications.</li>
                <li>Optimize or improve our products, services and operations.</li>
                <li>Detect, investigate, and prevent activities that may violate our policies or be illegal.</li>
            </ul>

        </div>

    </div>

{% endblock %}