{% extends 'author/main/base.html' %}

{% block title %} Admin Groups {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-10">
            <h3>Admin Groups</h3>
        </div>
        {% if request.user.is_superuser or perms.auth.add_group %}
            <div class="col-lg-2">
                <a class="btn btn-primary btn-block" href="{% url 'author:group-create' %}">Add Group</a>
            </div>
        {% endif %}
    </div>

    <table class="table table-sm mt-4">
         <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                {% if request.user.is_superuser or perms.auth.change_group or perms.auth.delete_group %}
                    <th colspan="2">Actions</th>
                {% endif %}
            </tr>
         </thead>

         {% for group in groups %}
             <tbody>
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.groupdescription }}</td>
                    {% if request.user.is_superuser or perms.auth.change_group %}
                        <td><a href="{% url 'author:group-update' group.id %}">Edit</a></td>
                    {% endif %}
                    {% if request.user.is_superuser or perms.auth.delete_group %}
                        <td><a href="{% url 'author:group-delete' group.id %}">Delete</a></td>
                    {% endif %}
                </tr>
             </tbody>
         {% endfor %}
    </table>


{% endblock %}