{% load static %}

<!doctype html>
<html lang="en">

    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'blog/css/app.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

        <title>{% block title %} {% endblock %}</title>
    </head>

    <body>
        <!-- navbar -->
        {% include 'blog/partials/navbar.html' %}

        <!-- main container -->
        <div class="container mt-5">

            <!-- messages -->
            {% include 'blog/partials/messages.html' %}

            <div class="row">

                <!-- content -->
                <div class="col-lg-8">
                    {% block content %}
                        <!-- paginate -->
                        {% block paginate %} {% endblock %}
                    {% endblock %}
                </div>

                <!-- sidebar -->
                <div class="col-lg-4 mt-5 mt-lg-0">
                    {% include 'blog/partials/sidebar.html' %}
                </div>

            </div>

        </div>

        {% include 'blog/partials/footer.html' %}

        <!-- JavaScript -->
        <script src="{% static 'blog/js/jquery-3.3.1.min.js' %}" ></script>
        <script src="{% static 'blog/js/popper.min.js' %}"></script>
        <script src="{% static 'blog/js/app.js' %}" ></script>
        {% block comment_show_script %} {% endblock %}

    </body>

</html>