<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">

        <a class="navbar-brand" href="{% url 'author:homepage' %}">
            <img src="/media/defaults/logo_default.png" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'author:homepage' %}">Articles</a>
                </li>

                <li>
                    <a class="nav-link" href="{% url 'author:article-draft' %}">Drafts</a>
                </li>

                <li>
                    <a class="nav-link" href="{% url 'author:article-all' %}">All Articles</a>
                </li>

                {% if request.user.is_superuser %}
                    <li><a class="nav-link" href="{% url 'author:article-featured' %}">Featured Articles</a></li>
                {% endif %}
            </ul>

            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'author:article-create' %}">New Article</a>

                {% if request.user.is_superuser %}
                    <a class="nav-link" href="{% url 'author:message-list' %}">Messages</a>
                {% endif %}

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="avatar" src="{{ user.profile.profile_pic.url }}" alt=""> {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'author:profile' %}">Profile</a>
                        {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'author:config-update' pk=1 %}">Manage Configurations</a>
                            <a class="dropdown-item" href="{% url 'author:menu-list' %}">Manage Menus</a>
                            <a class="dropdown-item" href="{% url 'author:category-list' %}">Manage Categories</a>
                            <a class="dropdown-item" href="{% url 'author:author-list' %}">Manage Authors</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'author:logout' %}">Logout</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</nav>